<!DOCTYPE html>
<html>
<head>
    <title>Editar Imóvel</title>
</head>
<body>
    <h1>Editar Imóvel</h1>
    <form method="POST">
        <label for="endereco">Endereço:</label><br>
        <input type="text" id="endereco" name="endereco" value="{{ imovel['endereco'] }}" required><br><br>

        <label for="aluguel">Aluguel:</label><br>
        <input type="number" step="0.01" id="aluguel" name="aluguel" value="{{ imovel['aluguel'] }}" required><br><br>

        <label for="inicio_contrato">Início do Contrato:</label><br>
        <input type="date" id="inicio_contrato" name="inicio_contrato" value="{{ imovel['inicio_contrato'] }}"><br><br>

        <label for="fim_contrato">Fim do Contrato:</label><br>
        <input type="date" id="fim_contrato" name="fim_contrato" value="{{ imovel['fim_contrato'] }}"><br><br>

        <label for="mes_reajuste">Mês do Reajuste (1 a 12):</label><br>
        <input type="number" id="mes_reajuste" name="mes_reajuste" min="1" max="12" value="{{ imovel['mes_reajuste'] }}"><br><br>

        <label for="data_ultimo_reajuste">Data do Último Reajuste:</label><br>
        <input type="date" id="data_ultimo_reajuste" name="data_ultimo_reajuste" value="{{ imovel['data_ultimo_reajuste'] }}"><br><br>

        <input type="submit" value="Salvar Alterações">
    </form>
    <br>
    <a href="{{ url_for('dashboard') }}">Voltar para o Dashboard</a>
</body>
</html>
